@import 'libs/slider-home';

.main-page {
  width: 100%;
}
.wrapper {
  // background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/home.png) no-repeat;
  background-size: cover;
  background-position: 20% 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;

  &::before {
    content: '';
    background: url(../img/Slice_1.png) no-repeat;
    width: 104px;
    height: 153px;
    position: absolute;
    top: 4%;
    left: 31%;
  }
  .main-content-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 1%;
    z-index: 4;
    &::after {
      content: '';
      background: url(../img/Slice_2.png) no-repeat;
      width: 585px;
      height: 264px;
      position: absolute;
      bottom: -3%;
      left: 0;
    }
    .container {
      display: flex;
      align-items: center;
    }
    .main-content {
      position: absolute;
      transform: translate(0, -50%);
      top: 60%;
      padding-right: 10px;
      h2 {
        color: #ffffff;
        font-size: 45px;
        font-weight: 700;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        margin-bottom: 46px;
      }
      p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        // margin-bottom: 24px;
      }
      .button-wrapper {
        display: flex;
        margin-top: 5vh;
        .more-details-button {
          width: 62px;
          height: 62px;
          border: 1px solid #f4f4f4;
          background-color: #1a4383;
          span {
            width: 81px;
            height: 80px;
            background-color: #1a4383;
            position: relative;
            cursor: pointer;
            i {
              position: absolute;
              transform: translate(-50%, -50%);
              top: 50%;
              left: 50%;
              color: #ffffff;
              font-size: 15px;
            }
          }
        }
        a {
          margin: 21px 0 0 9px;
          color: #3564a3;
          font-size: 12px;
          font-weight: 400;
          text-align: left;
          text-transform: uppercase;
          letter-spacing: 1.62px;
        }
      }
    }
  }
  @media (min-width: 768px) {
    background-size: cover;
    position: relative;
    &::before {
      width: 104px;
      height: 153px;
      position: absolute;
      top: 4%;
      left: 19%;
      transform: translate(-50%, 0);
    }
    .main-content-wrapper {
      &::after {
        width: 585px;
        height: 264px;
        position: absolute;
        bottom: 0%;
      }
      .container {
        padding-left: 20px;
      }
      .main-content {
        position: absolute;
        transform: translate(0, -50%);
        top: 59%;
        h2 {
          font-size: 48px;
          margin-bottom: 45px;
        }
        p {
          font-size: 18px;
          text-align: left;
          max-width: 280px;
          margin-bottom: 9vh;
        }
        .button-wrapper {
          display: flex;

          .more-details-button {
            width: 64px;
            height: 64px;
          }
          a {
            margin-top: 19px;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    background-size: cover;
    background-position: 0 0;
    position: relative;
    width: 100%;
    &::before {
      background: url(../img/Slice_3.png) no-repeat;
      width: 157px;
      height: 304px;
      position: absolute;
      top: -12%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .main-content-wrapper {
      padding: 0;

      &::after {
        background: url(../img/Slice_4.png) no-repeat;
        width: 1006px;
        height: 529px;
        position: absolute;
        transform: translate(-50%, 0);
        left: 74%;
        bottom: -35%;
      }
      .container {
        padding-left: 80px;
      }
      .main-content {
        position: absolute;
        transform: translate(0, -50%);
        top: 65%;
        h2 {
          font-size: 60px;
          margin-bottom: 50px;
        }
        p {
          font-size: 20px;
          max-width: 300px;
          margin-left: 100px;
        }
        .button-wrapper {
          margin: 0 0 0 100px;
          .more-details-button {
            width: 64px;
            height: 64px;
          }
          a {
            margin-top: 19px;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (min-width: 1280px) {
    &::before {
      width: 157px;
      height: 304px;
      top: -12%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .main-content-wrapper {
      &::after {
        width: 1006px;
        height: 529px;
        transform: translate(-50%, 0);
        left: 68%;
        bottom: -30%;
      }
      .container {
        padding-left: 100px;
      }
      .main-content {
        position: absolute;
        transform: translate(0, -50%);
        top: 65%;
        h2 {
          font-size: 70px;
          margin-bottom: 50px;
        }
        p {
          font-size: 24px;
          max-width: 360px;
          margin-left: 140px;
        }
        .button-wrapper {
          margin: 0 0 0 140px;
          .more-details-button {
            width: 80px;
            height: 80px;
            span {
              font-size: 18px;
              width: 9px;
              height: 15px;
            }
          }
          a {
            margin-top: 22px;
            margin-left: 16px;
            font-size: 18px;
          }
        }
      }
    }
  }
  @media (min-width: 1400px) {
    &::before {
      width: 207px;
      height: 304px;
      top: -10%;
      left: 39%;
      transform: translate(-50%, 0);
    }
    .main-content-wrapper {
      &::after {
        width: 1006px;
        height: 529px;
        transform: translate(-50%, 0);
        left: 57%;
        bottom: -30%;
      }
      .container {
        padding-left: 100px;
      }
      .main-content {
        top: 60%;
        h2 {
          font-size: 100px;
          margin-bottom: 30px;
          max-width: 700px;
        }
        p {
          font-size: 24px;
          max-width: 360px;
          margin-left: 250px;
          margin-bottom: 6vh;
        }
        .button-wrapper {
          margin-left: 250px;
          .more-details-button {
            width: 80px;
            height: 80px;
            span {
              font-size: 18px;
              width: 9px;
              height: 15px;
            }
          }
          a {
            margin-top: 22px;
            margin-left: 16px;
            font-size: 18px;
          }
        }
      }
    }
  }
  @media (min-width: 1900px) {
    &::before {
      background: url(../img/figure.png) no-repeat;
      width: 1006px;
      height: 1130px;
      top: -4%;
      left: 53%;
      transform: translate(-50%, 0);
    }
    .main-content-wrapper {
      &::after {
        content: none;
      }
      .container {
        padding-left: 145px;
      }
      .main-content {
        top: 70%;
        h2 {
          font-size: 120px;
          margin-bottom: 0px;
          max-width: 800px;
        }
        p {
          font-size: 24px;
          max-width: 360px;
          margin-left: 324px;
          margin-bottom: 26px;
          margin-top: -14px;
        }
        .button-wrapper {
          margin-left: 324px;
          a {
            font-size: 10px;
          }
        }
      }
    }
  }
  @media (min-width: 2500px) {
    &::before {
      background: url(../img/figure.png) no-repeat;
      width: 1006px;
      height: 1130px;
      top: -1%;
      left: 43%;
      transform: translate(-50%, 0);
    }
    .main-content-wrapper {
      .container {
        padding-left: 145px;
      }
      .main-content {
        top: 70%;
        h2 {
          font-size: 128px;
          margin-bottom: 0px;
          max-width: 800px;
        }
        p {
          font-size: 26px;
          max-width: 400px;
          margin-top: -18px;
        }
      }
    }
  }
}
.second-img {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/home-2.png) no-repeat;
  background-size: cover;
}
