@import 'libs/slider-page-news';

.main {
  background: url(../img/project-figure-mob.png) 0 60px no-repeat;
  background-size: contain;
  background-color: #f7f7f7 !important;
  padding: 60px 10px 25px;
  .news-details {
    padding: 25px 0 15px;
    &__title {
      padding: 25px 0;
      .title-wrapper {
        display: flex;
        h1 {
          font-size: 18px;
          font-weight: 400;
          text-align: left;
          margin-left: 56px;
          position: relative;

          &::before {
            content: '';
            width: 21px;
            height: 1px;
            background-color: #231e1e;
            display: block;
            position: absolute;
            transform: translate(0%, -50%);
            top: 10%;
            left: -55px;
          }
          span {
            border-left: 2px solid #231e1e;
            font-size: 18px;
            font-weight: 700;
            margin-left: 15px;
            padding-left: 20px;
          }
        }
      }
      .route-wrapper {
        display: none;
      }
    }
    &__img {
      padding: 25px 0 22px;
    }
    &__description {
      .description-title {
        padding: 15px 0;
        h2 {
          font-size: 24px;
          font-weight: 400;
          padding-right: 7px;
          margin-bottom: 21px;
        }
        data {
          color: #b2b2b2;
          font-size: 14px;
          font-weight: 300;
          line-height: 27px;
        }
      }
      .description-content {
        padding: 16px 0 25px;
        article {
          &:first-of-type {
            margin-bottom: 25px;
          }
          p {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            &:not(:last-child) {
              margin-bottom: 25px;
            }
          }
        }
      }
    }
    &__slider {
      padding: 25px 0 10px;
      .slider-news {
        .slider-item {
          &-wrapper {
            .slider-item__item-img {
              picture {
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .button-up {
      display: none;
    }
  }
  @media (min-width: 400px) {
    background: url(../img/project-figure-decktop.png) 0% 60px no-repeat;
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .news-details {
      &__title {
        width: 443px;
        margin: 0 auto;
      }
      &__img {
        picture {
          img {
            width: 443px;
          }
        }
      }
      &__description {
        .description-title,
        .description-content {
          width: 443px;
          margin: 0 auto;
        }
      }
      &__slider {
        width: 443px;
        margin: 0 auto;
        .slider-news {
          .slider-item {
            &-wrapper {
              .slider-item__item-img {
                picture {
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    padding: 60px 20px 25px;
  }
  @media (min-width: 1024px) {
    background: url(../img/project-figure-decktop.png) 320px 0px no-repeat;
    padding: 40px 0;
    .news-details {
      padding: 25px 0 20px;
      position: relative;
      &__title {
        padding: 18px 50px 40px 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .title-wrapper {
          h1 {
            &::before {
              top: 25%;
            }
          }
        }
        .route-wrapper {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          .route-link {
            color: #b2b2b2;
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            &__back {
              display: flex;
              align-items: center;
            }
            &__next {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &-arrow__back {
              display: inline-block;
              width: 37px;
              height: 37px;
              background: url(../img/sl-arrow_l-grey.svg) 50% 50% / 22% no-repeat;
            }
            &-arrow__next {
              display: inline-block;
              width: 37px;
              height: 37px;
              background: url(../img/sl-arrow_r-grey.svg) 50% 50% / 22% no-repeat;
            }
          }
        }
      }
      &__img {
        padding: 40px 50px;
      }
      &__description {
        padding: 20px 50px;
        .description-title {
          display: flex;
          justify-content: space-between;
          padding: 20px 0 40px;
          h2 {
            font-size: 38px;
            margin-bottom: 0;
            width: 400px;
          }
        }
        .description-content {
          padding: 40px 0 20px;
          article {
            p {
              font-size: 20px;
              line-height: 27px;
            }
          }
        }
      }
      &__slider {
        padding: 40px 50px;
      }
      .button-up {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 15;
        // margin: 0 0 0 86%;
        position: absolute;
        transform: translate(-50%, -50%);
        transform: rotate(-90deg);
        bottom: 0%;
        left: 85%;
        &-link {
          width: 80px;
          height: 68px;
          background-color: #ededed;
          opacity: 0.9;
          position: relative;
          margin-right: 13px;
          cursor: pointer;
          i {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            color: #1a4383;
            font-size: 18px;
          }
        }
        &-text {
          color: #b2b2b2;
          font-size: 10px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }
  }
  @media (min-width: 1280px) {
    .news-details {
      &__description {
        .description-title {
          h2 {
            width: 600px;
          }
        }
        .description-content {
          column-count: 2;
          column-gap: 83px;
          article {
            &:first-of-type {
              margin-bottom: 0px;
            }
            p {
              &:not(:last-child) {
                margin-bottom: 40px;
              }
            }
          }
        }
      }
      .button-up {
        left: 89%;
      }
    }
  }
  @media (min-width: 1400px) {
    .news-details {
      &__title {
        padding: 18px 100px 25px 146px;
        .title-wrapper {
          width: 650px;
          h1 {
            &::before {
              top: 25%;
            }
          }
        }
        .route-wrapper {
          .route-link {
            &-arrow__back {
              background: url(../img/sl-arrow_l-grey.svg) 50% 48% / 22% no-repeat;
            }
          }
        }
      }
      &__img {
        padding: 40px 100px 40px 146px;
      }
      &__description {
        padding: 40px 100px 20px 146px;
        .description-title {
          padding: 40px 0;
        }
      }
      &__slider {
        padding: 40px 100px 20px 146px;
      }
      .button-up {
        bottom: 70px;
        left: 89%;
      }
    }
  }
  @media (min-width: 1900px) {
    .news-details {
      &__title {
        align-items: center;
        padding: 18px 175px 25px 90px;
        .title-wrapper {
          width: 1000px;
          h1 {
            &::before {
              top: 50%;
            }
          }
        }
      }
      &__img {
        padding: 18px 175px 25px 146px;
        picture {
          img {
            width: 100%;
          }
        }
      }
      &__description {
        padding: 18px 175px 25px 146px;
        .description-title {
          h2 {
            width: 1000px;
          }
        }
      }
      &__slider {
        padding: 18px 175px 25px 146px;
      }
      .button-up {
        bottom: 72px;

        left: 87.7%;
      }
    }
  }
  @media (min-width: 1950px) {
    .news-details {
      .button-up {
        left: 91%;
      }
    }
  }
}
