@import 'libs/slider-page-project';

.main {
  position: relative;
  .main-wrapper {
    background: url(../img/project-figure-mob.png) 0 60px no-repeat;
    background-color: #f7f7f7 !important;
    background-size: contain;
    padding: 60px 10px 33px;
  }
  .main-subtitle {
    padding: 50px 0 15px;
    .subtitle-wrapper {
      display: flex;
      flex-wrap: wrap;
      .subtitle-title {
        color: #231e1e;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        margin-left: 56px;
        position: relative;
        &::before {
          content: '';
          width: 21px;
          height: 1px;
          background-color: #231e1e;
          display: block;
          position: absolute;
          transform: translate(0%, -50%);
          top: 50%;
          left: -55px;
        }
      }
      .subtitle-link {
        color: #231e1e;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        border-left: 1px solid #231e1e;
        border-right: 1px solid #231e1e;
        padding: 0 17px;
        margin: 0 17px;
      }
      .subtitle-description {
        margin-left: 56px;
        font-weight: 700;
        font-size: 18px;
      }
    }
    .route-wrapper {
      display: none;
    }
  }
  .project {
    .project-wrapper {
      padding: 10px 0 14px;
      .project-title {
        margin-bottom: 29px;
        &__main {
          font-size: 36px;
          font-weight: 500;
          text-align: left;
          margin-bottom: 35px;
        }
        &__address {
          font-size: 20px;
          font-weight: 300;
          font-style: normal;
          line-height: 27px;
          text-align: left;
          margin-bottom: 26px;
          i {
            margin-left: -6px;
            margin-right: 16px;
          }
        }
        .button-site {
          display: flex;
          align-items: center;
          position: relative;
          &__link {
            width: 81px;
            height: 80px;
            background-color: #1a4383;
            position: relative;
            cursor: pointer;
            i {
              position: absolute;
              transform: translate(-50%, -50%);
              top: 50%;
              left: 50%;
              color: #ffffff;
              font-size: 15px;
            }
          }
          &__text {
            color: #1a4383;
            font-size: 10px;
            font-weight: 400;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 1px;
            width: 100px;
            margin-left: 15px;
          }
        }
      }
    }
    .slider-banner_wrapper {
      position: relative;
      .slider-item__item-img {
        width: 100%;
        position: relative;
        picture {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          width: 100%;
          // height: 331px;
        }
      }
      .button-video {
        display: flex;
        justify-content: start;
        position: absolute;
        top: 0;
        left: 0;
        &__link {
          width: 63px;
          height: 63px;
          background-color: #ffffff;
          position: relative;
          i {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            color: #1a4383;
            font-size: 18px;
          }
        }
        &__text {
          display: flex;
          align-items: center;
          padding: 0 9px;
          width: 142px;
          height: 63px;
          background-color: #1a4383;
          color: #f7f7f7;
          font-size: 10px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1.27px;
        }
      }
    }
  }
  .project-info {
    &-wrapper {
      padding: 10px 0;
    }
    &__numbers {
      padding: 5px 0 25px;
      .numbers-item {
        &:not(:last-child) {
          margin-bottom: 32px;
        }
        span {
          display: inline-block;
          position: relative;
          width: 35px;
          height: 35px;
          border: 1px solid #231e1e;
          border-radius: 50%;
          font-size: 10px;
          margin-bottom: 13px;
          i {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 46%;
            top: 50%;
          }
        }
        h3 {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 19px;
        }
        p {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
    &__content {
      padding: 25px 0 8px;
      .content-item {
        &:not(:last-child) {
          margin-bottom: 32px;
        }
        &__img {
          margin-bottom: 18px;
        }
        &__text {
          .title {
            font-size: 30px;
            font-weight: 700;
            text-align: left;
            margin-bottom: 14px;
          }
          .description {
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .button-up {
    display: none;
  }

  @media (min-width: 400px) {
    .main-wrapper {
      background: url(../img/project-figure-decktop.png) 0% 60px no-repeat;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .main-subtitle {
      width: 443px;
    }
    .project-info {
      &__content {
        .content-item {
          &__img {
            width: 460px;
            img {
              width: 460px;
            }
          }
          &__text {
            .description {
              width: 460px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .main-wrapper {
      padding: 60px 20px 23px;
    }
    .main-subtitle {
      .subtitle-wrapper {
        .subtitle-description {
          margin-left: 0;
        }
      }
    }
    .project-info {
      &__numbers {
        display: flex;
        justify-content: space-between;
        .numbers-item {
          &:not(:last-child) {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .main-wrapper {
      background: url(../img/project-figure-decktop.png) 0px 0px no-repeat;
      padding: 40px 0;
    }
    .main-subtitle {
      padding: 40px 0 40px 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .route-wrapper {
        display: flex;
        .route-link {
          &__back {
          }
          &__next {
          }
          &-arrow__back {
          }
          &-arrow__next {
          }
        }
      }
    }
    .project {
      .project-wrapper {
        padding: 40px 0;
        .project-title {
          margin-bottom: 40px;
          padding-left: 50px;
        }
      }
    }
    .project-info {
      &__numbers {
        padding: 10px 25px 20px 50px;
        .numbers-item {
          &:not(:last-child) {
            margin-bottom: 0px;
          }
        }
      }
      &__content {
        padding: 40px 0 8px;
        .content-item {
          &:not(:last-child) {
            margin-bottom: 40px;
          }
          &__img {
            margin-bottom: 40px;
          }
          &__text {
            padding: 0 50px;
            .title {
              font-size: 48px;
              margin-bottom: 40px;
            }
            .description {
              font-size: 20px;
              font-weight: 300;
              line-height: 1.35;
            }
          }
        }
      }
    }
    .button-up {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 15;
      // margin: 0 0 0 86%;
      position: absolute;
      transform: translate(-50%, -50%);
      transform: rotate(-90deg);
      bottom: 1%;
      left: 91%;
      &-link {
        width: 80px;
        height: 68px;
        background-color: #ededed;
        opacity: 0.9;
        position: relative;
        margin-right: 13px;
        cursor: pointer;
        i {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          color: #1a4383;
          font-size: 18px;
        }
      }
      &-text {
        color: #b2b2b2;
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}

.slider-projects-wrapper {
  padding: 36px 10px 10px;
  background-color: #fff;
  h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-bottom: 45px;
  }
  .slider-projects {
    padding: 30px 0 15px;
    .slider-item {
      padding: 25px 0;
    }
    .slider-content__item {
      &-img {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        img {
          width: 100%;
        }
        .item-img-label {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          padding: 12px 14px;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          z-index: 3;
          h3 {
            color: #ffffff;
            font-size: 12px;
            font-weight: 700;
          }
          &__on-sale {
            background-color: #0083ca;
          }
          &__implemented {
            background-color: #7637b1;
          }
          &__planned {
            background-color: #749c3c;
          }
        }
        .item-img__hover {
          // display: none;
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          z-index: 2;
          transition: all 0.5s;
          background: linear-gradient(rgba(35, 30, 30, 0.5), rgba(35, 30, 30, 0.5));
          a {
            display: block;
            margin: auto;
            color: #ffffff;
            font-size: 10px;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.7s;
          }
        }
        &:hover {
          .item-img__hover {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
            opacity: 1;
          }
        }
      }
      &-text {
        h3 {
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 18px;
        }
        address {
          font-size: 16px;
          font-weight: 300;
          font-style: normal;
          line-height: 1.69;
          margin-bottom: 10px;
          line-height: normal;
        }
        a {
          color: #b2b2b2;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.69;
          text-align: left;
          text-decoration: underline;
          line-height: normal;
          transition: all 0.7s;

          &:hover,
          &:focus {
            color: #0083ca;
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 83px 20px 10px 50px;
    h2 {
      font-size: 48px;
      margin: 0;
    }
    .slider-projects {
      padding: 55px 0 15px;
      .slider-item {
        padding: 25px 0;
      }
      .slider-content__item:nth-child(odd) {
        padding-right: 30px;
      }
    }
  }
}
