<header class="header">
  <div class="header-mobile">
    <div class="logo-mobile"></div>
    <div class="nav-wrapper">
      <a href="javascript:void(0)" class="icon-call"><i class="icon-001-phone-call"></i></a>
      <div class="header-burger">
        <span></span>
      </div>
      <nav class="header-menu">
        <div class="header-menu-wrapper">
          <div class="header-burger">
            <span></span>
          </div>
          <ul class="header-list">
            <li class="header-list-item"><i class="icon-home"></i><a href="javascript:void(0)" class="header-link">Главная</a></li>
            <li class="header-list-item"><i class="icon-users"></i><a href="javascript:void(0)" class="header-link">О компании</a></li>
            <li class="header-list-item"><i class="icon-box"></i><a href="javascript:void(0)" class="header-link">Проекты</a></li>
            <li class="header-list-item"><i class="icon-newspaper"></i><a href="javascript:void(0)" class="header-link">Новости</a></li>
            <li class="header-list-item"><i class="icon-partner-1"></i><a href="javascript:void(0)" class="header-link">Партнеры</a></li>
            <li class="header-list-item"><i class="icon-loud-speaker"></i><a href="javascript:void(0)" class="header-link">Тендеры</a></li>
            <li class="header-list-item"><i class="icon-pencil"></i><a href="javascript:void(0)" class="header-link">Контакты</a></li>
          </ul>
          <div class="footer-mobile">
            <a href="tel:+70901234567" class="footer-mobile-contact">+7 (090) 123-45-67</a>
            <button class="footer-mobile-button">Заказать звонок</button>
            <p>Продолжая просмотр страниц сайта вы соглашаетесь со всеми условиями Пользовательского соглашения.</p>
            <p>&#169; 2021 ФСК Дело</p>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="header-decktop"></div>
</header>
